.header,
.main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #371f36;
    color: white;
    gap: 100px;
}

body {
    margin: 0px;
}

.header {
    padding: 16px 150px;
}

.main-info {
    padding: 100px 150px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.logo,
.header-links {
    flex-shrink: 0;
}

.header-links {
    align-self: flex-end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

#top-image {
    width: 400px;
}

.main-title {
    max-width: 500px;
    font-size: 48px;
    font-weight: bolder;

}

.main-subtext,
.info-subtext {
    font-size: 18px;
    font-weight: 100;
    padding-top: 10px;
}

button {
    background-color: #3882F6;
    padding: 8px 24px;
    border-width: 0px;
    color: white;
    border-radius: 8px;
}

.buttons {
    padding-top: 10px;
}

.img-subtext img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

.image-block {
    font-size: 36px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px 150px;
}

.image-block-title {
    white-space: nowrap;
}

.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info-subtext {
    width: 150px;
    text-align: center;
}

.img-info {
    display: block;
    justify-content: center;
    align-items: center;
}

.message {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {

    display: flex;
    width: 850px;
    height: 200px;
    min-width: 850px;
    padding: 50px 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    font-family: Verdana, "New Times Roman", sans-serif;
}

.quote-by {
    align-self: flex-end;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}