.header,
.main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    gap: 100px;
}

.header {
    padding: 10px 150px;
}

.main-info {
    padding: 100px 150px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.logo,
.header-links,
.main-title,
#top-image {
    flex-shrink: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    color: #E5E7EB;
}

#top-image {
    width: 400px;

}

.main-title {
    width: 400px;
    font-size: 48px;
    font-weight: bolder;

}

.main-subtext {
    font-size: 18px;
    font-weight: 100;
    padding-top: 10px;
}

button {
    background-color: #3882F6;
    padding: 8px 24px;
    border-width: 0px;
    color: white;
    border-radius: 8px;
}

.buttons {
    padding-top: 10px;
}